* {
  box-sizing: border-box;
  margin: 0;
  padding: 0,
}

body {
  background-color: rgb(240,248,255);
  font-family: "Lucida Console", Courier, monospace;
  text-align: center;
  font-size: 16px;
  overflow: scroll;
}

h1 {
  color: rgb(40, 58, 70);
  font-size: 2.8em;
}

h2 {
  padding: 30px 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 5px 5px 0 0;
  margin: 0 auto;
  background-color: white;
  width: 70%;
  text-align: left;
  margin-bottom: 40px;
}

thead {
  
}

th {
  color: rgb(240,248,255);
  background-color: rgb(40, 58, 70);
  padding: 25px 20px;
}

tr td {
  padding: 20px 20px;
  border-bottom: 0.5px solid rgb(40, 58, 70);
}
